<style>
    /* Header */
    .header {
        padding: 20px;
        text-align: center;
        background: slategray;
        color: white;
        font-size: 20px;
        font-family: Arial;
      }
      </style>

      <style>
        .header1 {
            text-align: justify;
            color:navy;
            font-size: 10 px;
            font-family: Arial;
        }
    </style>
    <style>
        .footer {
            position:static;
            left:0;
            bottom:0;
            width:100%;
            background-color: slategray;
            color:white;
            text-align: justify;
            font-family: Arial;
        }
    </style>